#burger-dash {
    height: 25px;
}

#brand-name {
    height: 45px;
   
}

#main-nav{
    display:none;
}

#user-profile{
    display:none;
}


@media  screen and (min-width: 768px) {
    header{
        height: 100px;
    }

    #main-nav{
        display:flex;
        height: 45px;
    }

    #burger-dash {
        display:none;
    }

    #user-profile{
        display: flex;
        height: 100px;
        align-items: center; /* Center vertically */
        justify-content: center;
        flex-direction: column;
       
    }
    #user-profile .profile-circle{
        width: 50px;
        height:50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    }
}





@media  screen and (min-width: 1200px) {

    #main-nav{
        height: 60px;
    }

    #user-profile{
        display: flex;
        height: 60px;
        padding: 20px 10px 10px 10px;
        align-items: center; /* Center vertically */
        justify-content: space-between;
        flex-direction: row-reverse;
       
    }



}