#burger-dash {
    height: 25px;
}

#brand-name {
    height: 45px;
   
}

#main-nav{
    display:none;
}

#user-profile{
    display:none;
}
/* Hero Section styles */
#hero-section{
    display: block;
}
#hero-img{
    height: 212px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line-separator{
    font-size: 10px;
    color:rgb(0, 0, 0);
    height: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}


#hero-message{
    margin-top: 10px;
}

.learn-more{
    width: 145px;
    height: 63px;
}

.msg-box {
    height: 231px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.greet-1, .greet-2{
    height: 75px;
    padding: 0 10px;
}

.promo-img {
    display:none;
}

@media  screen and (min-width: 768px) {
    header{
        height: 100px;
    }

    #main-nav{
        display:flex;
        height: 45px;
    }

    #burger-dash {
        display:none;
    }

    #user-profile{
        display: flex;
        height: 100px;
        align-items: center; /* Center vertically */
        justify-content: center;
        flex-direction: column;
       
    }
    #user-profile .profile-circle{
        width: 50px;
        height:50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    }

    /* Hero Section styles */
    #hero-section{
        display: grid;
    }
#hero-section {
    height: 460px;
}
.msg-box {
    height: 293px;
    
}
   

   #hero-img{
        /* grid-column: 1/-1;
        grid-row:1/1;
        justify-self:center; */
        display:none;
    }
    #hero-message{
        grid-column: 2/3;
        grid-row:1/1;
        margin: 0;
     }

.promo-img {
    display: flex;
}

.promo-main {
    height: 438px;
    border-top-left-radius: 20px; 
    border-bottom-right-radius: 20px;

}
}





@media  screen and (min-width: 1200px) {
#brand-name {
    height: 60px;
}
    #main-nav{
        height: 60px;
    }

    #user-profile{
        display: flex;
        height: 60px;
        padding: 20px 10px 10px 10px;
        align-items: center; /* Center vertically */
        justify-content: space-between; /* Center Horizontally */
        flex-direction: row-reverse;
       
    }
/* Hero Section styles */

#hero-section{
    display: grid;
}
#hero-section{
    height: 700px;
}
 #hero-message{
    grid-column: 2/3;
    grid-row:1/1;
    margin: 0;
 }

.msg-box {
    height: 500px;
}

.promo-main {
    height: 660px;
   

}
}