/* 
    CSS Guide Index Page

    1.  Header 
    2.  Hero Section
    3.  Product Section
    4.  Events Section
    5.  Promotional Video Section
    6.  Fan Base Testimonial Section
    7.  Puzzle Game Section Mobile
    8.  
    9.  
    10. 
    11. 
 */

/* 1.) Header Mobile */
#burger-dash {
    height: 25px;
}

#brand-name {
    height: 45px;
   
}

#main-nav{
    display:none;
}

#user-profile{
    display:none;
}
/* 2.) Hero Section Mobile */
#hero-section{
    display: block;
}
#hero-img{
    height: 212px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line-separator{
    font-size: 10px;
    color:rgb(0, 0, 0);
    height: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}


#hero-message{
    margin-top: 10px;
}

.learn-more{
    width: 145px;
    height: 63px;
}

.msg-box {
    height: 231px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.greet-1, .greet-2{
    height: 75px;
    padding: 0 10px;
}

.promo-img {
    display:none;
}

/* 3.) Product Section Mobile */

.product-vid {
    height: 230px;
}

#product-info {
    height: 135px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.prdct-phrase {
    height: 90px;
}

.prdct-more {
     height: 25px;
}

#circle-dot {
    display: none;
}
#product-pic{
    display: none;
}

/* 4.) Events Section Mobile */
.event-head-more{
    display:none;
}
.event-head {
    height: 35px;
}


.event-para{
    display: flex;
    height: 120px;
    margin-top:10px;
    flex-direction: column;
    justify-content: space-evenly;

}

.event-container{
    margin-top: 10px;
    height: 200px;
}

/* 5.) Promotional Video Section Mobile */
#main-promo{
    margin-top: 10px;
}

.promo-vid {
    display: flex;
    height: 250px;
    flex-direction: column;
    justify-content: space-between;
}

.promo-vid p{
    margin-top: 100px;
}

.promo-control{
    width: 200px;
    height:70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* 6.) Fan Base Testimonial Section Mobile */
#testimonials{
    margin-top:10px;
}
.fan-base{
    display: grid;
    border-bottom: 10px solid black;
}
.fan-img {
    height: 270px;
    margin-bottom: 10px;
    
}
.fan-name{
    height: 50px;
}
.fan-testimony{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* 7.) Puzzle Game Section Mobile */
#game-bar{
    display: none;
}
#game-controls{
    display: none;
}
.game-box {
    height:370px ;
}

.expand-box {
    margin-top: 10px;
    height:40px ;
}
.lets-play-box{
    margin-top: 10px;
    height: 100px;
    grid-row: 2/4;
}

.grid-con .menu-box{
    grid-row: 3/3;
    order: 2;
}

.game-para-box{
    margin-top: 10px;
    height: 100px;
}

.null-control{
    display: none;
}

/* 8.) Banner Animation Section Mobile */




@media  screen and (min-width: 768px) {
    /* 1.) Header Tablet */
    header{
        height: 100px;
    }

    #main-nav{
        display:flex;
        height: 45px;
    }

    #burger-dash {
        display:none;
    }

    #user-profile{
        display: flex;
        height: 100px;
        align-items: center; /* Center vertically */
        justify-content: center;
        flex-direction: column;
       
    }
    #user-profile .profile-circle{
        width: 50px;
        height:50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    }

    /*2.)  Hero Section Tablet */
    #hero-section{
        display: grid;
    }
#hero-section {
    height: 460px;
}
.msg-box {
    height: 293px;
    
}
   

   #hero-img{
        /* grid-column: 1/-1;
        grid-row:1/1;
        justify-self:center; */
        display:none;
    }
    #hero-message{
        grid-column: 2/3;
        grid-row:1/1;
        margin: 0;
     }

.promo-img {
    display: flex;
}

.promo-main {
    height: 438px;
    border-top-left-radius: 20px; 
    border-bottom-right-radius: 20px;

}

/* 3.) Product Section Tablet */
.spc-hide {
    display: none;
}
#product-section {
    height: 600px;
}
.product-vid {
    display:none;
}

#product-pic{
    display: flex;
    justify-content: space-between;
   
}

#product-info {
    height: 135px;
    /* display: flex;
    justify-content: space-around;
    flex-direction: column; */
}
    
.prdct-1, .prdct-2, .prdct-4,.prdct-5 {
    width: 107px;
    height:250px ;
    padding: 0 30px;
}
.prdct-3 {
    width: 233px;
    height:360px ;
    padding: 0 10px;
}
#circle-dot {
    display: flex;
    justify-content: space-evenly;
    padding: 0 10px;
    margin-left:30px ;
}
.image-selector {
    width: 30px;
    height: 30px;
    background-color: rgb(47, 47, 47);
    border-radius: 50%;
    /* bottom: 10px; /* Adjust vertical position */
    /* left: 50%; Align circle horizontally */ 
    transform: translateX(-50%);
}

.image-selector::before,
.image-selector::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: all 0.3s ease; /* Add transition for smooth animation */
}

/* Smaller circle */
.image-selector::before {
    width: 20px; /* Adjust size of the smaller circle */
    height: 20px;
    background-color: white; /* Change color of the smaller circle */
}


/* 4.) Events Section Tablet */
.event-head-more{
    display:block;
}

.event-head{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    height: 150px;
}

.event-container{
    grid-row: 1/1;
    height: 620px;
}
.event-vid {
    width: 500px;
    height: 560px;
}

.event-para {
    display:none;
}

/* 5.) Promotional Video Section Tablet */
.promo-vid{
    height: 500px;
}

.promo-vid p{
    margin-top: 200px;
}

.promo-control{
    width: 250px;
    height:70px;
}

/* 6.) Fan Base Testimonial Section Tablet */


/* .fan-img {
    height: 270px;
   
    
}
.fan-name{
    height: 50px;
}
.fan-testimony{
    height: 250px;
  
} */


/* 7.) Puzzle Game Section Tablet */
#game-bar{
    display: grid;
}
#game-controls{
    display:flex;
}
.game-box {
    height:400px ;
}

.expand-box {
    margin-top: 10px;
    height:50px ;
    grid-row: 3;
}
.lets-play-box{
    margin-top: 10px;
    height: 160px;
    grid-row: 4/6;
}

.grid-con .control-box{
    grid-row: 4;
    height:75px ;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
   
}

.game-para-box{
    margin-top: 10px;
    height: 100px;
}
.menu-box{
    display: none;
}

.line-control{
    width: 225px;
    height: 50px;
}

 .more-ctrl{
    grid-row: 5;
    height:75px ;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* 8.) Banner Animation Section Tablet */

}






@media  screen and (min-width: 1200px) {
    /* 1.) Header Desktop */
#brand-name {
    height: 60px;
}
    #main-nav{
        height: 60px;
    }

    #user-profile{
        display: flex;
        height: 60px;
        padding: 20px 10px 10px 10px;
        align-items: center; /* Center vertically */
        justify-content: space-between; /* Center Horizontally */
        flex-direction: row-reverse;
       
    }
/* 2.) Hero Section Desktop*/

#hero-section{
    display: grid;
}
#hero-section{
    height: 700px;
}
 #hero-message{
    grid-column: 2/3;
    grid-row:1/1;
    margin: 0;
 }

.msg-box {
    height: 500px;
}

.promo-main {
    height: 660px;
   

}
/* 3.) Product Section Desktop */

#product-section {
    height: 700px;
}

.prdct-1, .prdct-2, .prdct-4,.prdct-5 {
    width: 170px;
    height:320px ;
    padding: 0 30px;
}
.prdct-3 {
    width: 370px;
    height:500px ;
    padding: 0 10px;
}

/* 4.) Events Section Desktop */
.event-vid{
    width:700px
}

/* 5.) Promotional Video Section Desktop */
.promo-vid{
    height: 700px;
}

.promo-vid p{
    margin-top: 250px;
}
.promo-control{
    width: 350px;
    height:70px;
}

/* 6.) Fan Base Testimonial Section Desktop */
.fan-img {
    height: 330px;
   
    
}
.fan-name{
    height: 80px;
}
.fan-testimony{
    height: 420px;
  
}

/* 7.) Puzzle Game Section Desktop */
.game-box {
    height:600px ;
}

/* 8.) Banner Animation Section Desktop */

}